@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --decor-color: #ff0070;
    --title-color: #db00ff; /* цвет большого заголовка */
    --accent-color: #ff0070; /* акцентный цвет плашек и тени */
    --decor-text-color: #000028;
    --content-title-color: #ff0070;
    --text-color: #f1b2ce;
    --link-shadow-color: #ff0070;
    --link-color: #ff0070;
    --menu-button-color: var(--accent-color);
    --menu-button-hover-color: rgb(255 0 112 / 0.4);
  }
}

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --decor-color: #ff0070;
  --title-color: #db00ff; /* цвет большого заголовка */
  --accent-color: #ff0070; /* акцентный цвет плашек и тени */
  --decor-text-color: #000028;
  --content-title-color: #ff0070;
  --text-color: #f1b2ce;
  --decor-text-color: #000028;
  --link-shadow-color: #ff0070;
  --link-color: #ff0070;
  --menu-button-color: var(--accent-color);
  --menu-button-hover-color: rgb(255 0 112 / 0.4);
}
