/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
}
:root.theme-light .header__rec {
  display: none; /* скрываем декоративный элемент в светлой теме */
}