/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-block-size: 100vh;
  background-image: var(--bg-image);
  background-color: var(--bg-color, #000028);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  min-block-size: max(100vh, 668px);
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: end;
    align-self: center;
  }

  .header__title {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;/* компенсируем отступ, который добавился к заголовку из-за увеличения внутренних отступов в шапке. Юрий разрешил!*/
  }
  .header__text {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: center;
  }

}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
  }

  .header__title {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: start;
  }

  .header__text {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, auto);
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2.3px 13px;
  color: var(--menu-button-color, #ff0070);
  background-color: transparent;
  text-transform: lowercase;
  line-height: 1;
  cursor: pointer;
  font-size: var(--text-size, 18px);
}

.header__theme-menu-button:hover {
  border-color: var(--menu-button-hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: var(--menu-button-color, #ff0070);
  padding-bottom: 2px;
}

.header__theme-menu-button_active {
  border-color: var(--menu-button-color, #ff0070); /* рамка активной кнопки */
  pointer-events: none;
}

.header__theme-menu-button:disabled {
  pointer-events: none; /* отключаем взаимодействие */
}

.header__title {
  grid-row: 2;
  grid-column: 1 / -1;
  justify-self: start;
  align-self: center;

  color: var(--title-color, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: ""; 
  position: absolute; 
  inline-size: 25px; 
  block-size: 25px;
}

.decorated-zone::before {
  top: 20px; 
  right: 20px; 
  border-top: 1px solid var(--decor-color, #ff0070); 
  border-right: 1px solid var(--decor-color, #ff0070);
}

.decorated-zone::after {
  bottom: 20px; 
  left: 20px; 
  border-bottom: 1px solid var(--decor-color, #ff0070);
  border-left: 1px solid var(--decor-color, #ff0070);
}

.header__rec {
  position: absolute; 
  top: 25px;
  right: 48px;
  color: var(--accent-color, #ff0070); 
  line-height: 25px; 
  text-transform: uppercase;
  font-size: var(--text-size, 18px);
}
.header__rec::after {
  content: ""; 
  position: absolute; 
  top: 8px; 
  right: -19px; 
  inline-size: 9px; 
  block-size: 9px; 
  border-radius: 50%; 
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070); 
}

.header {
  min-block-size: max(100vh, 668px); 
  padding: 10px; /* внутренние отступы на мобильном */
  display: grid; 
  grid-template-rows: 1fr min-content 1fr; 
  align-items: center; 
}

.header__title {
 grid-row: 2;
  grid-column: 1 / -1;
  justify-self: start;
  align-self: center;
  color: var(--title-color, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--decor-text-color, #000028);
}

.header__text {
  justify-self: end;
  align-self: center;
  font-size: var(--text-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  padding: 1px;
}

@media (width >= 768px) {
  .header {
    padding: 20px; 
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* адаптивный размер для планшета и десктопа */
  }
}

.main {
  padding-inline: var(--page-padding, 20px);
  padding-block-start: var(--main-top-gap, 60px);
}

.content-section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .content-section {
    grid-template-columns: 315px 1fr; /* левая колонка фикс, правая — резиновая */
    column-gap: 20px; /* расстояние между колонками */
  }

@media (width >= 1024px) {
  .content-section {
    grid-template-columns: repeat(3, 1fr); /* три одинаковые колонки */
    column-gap: 20px; /* расстояние между колонками */
    align-items: start; /* элементы прижимаются к верху своих ячеек */
  }
}
}
.content-section + .content-section {
  margin-block-start: var(--section-gap, 80px);
}

.content-section__title {
  color: var(--content-title-color, #ff0070);
  font-size: var(--text-size, 18px);
  line-height: var(--line-height, 1.3);
  align-self: start;
  padding-left: 10px;
}

.content-section__articles {
  display: grid;
  gap: 20px;
}

@media (width >= 1024px) {
  .content-section__articles {
    grid-column: span 2; /* блок занимает вторую и третью колонку секции */
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title{
  font-weight: bold;
}
.card__subtitle {
  font-size: var(--text-size, 18px);
  line-height: var(--line-height, 1.3);
}

.card__title_regular {
  font-weight: normal;
}

.card__text {
  color: var(--text-color, #f1b2ce);
  font-size: var(--text-size, 18px);
  line-height: var(--line-height, 1.3);
}

.card__text + .card__subtitle,
.card__text + .card__title,
.card__subtitle + .card__text,
.card__title + .card__text {
  margin-block-start: 0;
}

.card__link {
  text-shadow: 2px 2px 0 var(--link-shadow-color, #ff0070);
  text-decoration: none;
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--decor-text-color, #000028);
  display: inline-block;
}


@media (width >= 1024px) {
  .content-section__articles_type_row {
    grid-column: 1 / -1; /* растягиваем блок от первой до последней колонки */
    grid-template-columns: repeat(3, 1fr); /* три карточки в ряд */
    column-gap: 20px; /* расстояние между карточками */
  }
}

.card_type_tips{
  gap:0;
}

.card_type_tips .card__title + .card__subtitle {
  margin-block-start: 20px; 
}

.card_type_tips .card__subtitle + .card__text {
  margin-block-start: 10px;
}

.card_type_tips .card__text + .card__subtitle {
  margin-block-start: 20px;
}

.gallery-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery {
  display: grid; 
  gap: 10px; 
}
.gallery__image {
  inline-size: 100%; 
  block-size: 100%; 
  object-fit: cover; 
  display: block; 
}

.gallery-section .content-section__title {
  display: block;
  inline-size: 100%;
}

@media (width >= 768px) {
  .gallery-section {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image_type_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image_type_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_type_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_type_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_type_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

.footer {
  min-block-size: max(100vh, 668px);
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer__title {
  color: var(--title-color, #db00ff); 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* мобильный размер */
  line-height: 0.83; 
  text-shadow: 2px 2px 0 var(--shadow-light, #ff0070); 
}

@media (width >= 768px) {
  .footer {
    padding: 20px; /* увеличиваем внутренние отступы */
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* размер для планшета и десктопа */
  }
}