/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-block-size: 100vh;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  min-block-size: max(100vh, 668px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .header__theme-menu {
    justify-self: end; /* меню остаётся справа */
    align-self:center; /* на планшете лучше прижать к верху */
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center; /* на десктопе меню по центру */
    align-self: start; /* остаётся наверху */
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, auto); /* кнопки в строку */
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--menu-button-color);
  background-color: transparent;
  text-transform: lowercase;
  line-height: 1;
  cursor: pointer;
  font-size: var(--text-size);
}

.header__theme-menu-button:hover {
  border-color: var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: var(--menu-button-color);
  padding-bottom: 2px;
}

.header__theme-menu-button_active {
  border-color: var(--menu-button-color); /* рамка активной кнопки */
}

.header__theme-menu-button:disabled {
  pointer-events: none; /* отключаем взаимодействие */
}


.header__title {
  align-self: center;
}
.header__subtitle {
  justify-self: end;
  align-self: end;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: ""; 
  position: absolute; 
  inline-size: 25px; 
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px; 
  right: 10px; 
  border-top: 1px solid var(--decor-color); 
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 10px; 
  left: 10px; 
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__rec {
  position: absolute; 
  top: 10px;
  right: 38px;
  color: var(--accent-color); 
  line-height: 25px; 
  text-transform: uppercase;
  font-size: var(--text-size);
}
.header__rec::after {
  content: ""; 
  position: absolute; 
  top: 8px; 
  right: -19px; 
  inline-size: 9px; 
  block-size: 9px; 
  border-radius: 50%; 
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color); 
}

.header {
  min-block-size: max(100vh, 668px); 
  padding: 10px; /* внутренние отступы на мобильном */
  display: grid; 
  grid-template-rows: 1fr min-content 1fr; 
  align-items: center; 
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);/* адаптивный размер для мобильного диапазона */
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text-color);
}
.header__text {
  justify-self: end;
  align-self: center;
  font-weight: 700;
  line-height: 1.3;
}

@media (width >= 768px) {
  .header {
    padding: 20px; 
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* адаптивный размер для планшета и десктопа */
  }
}

.main {
  padding-inline: var(--page-padding);
  padding-block-start: var(--main-top-gap);
}

.content-section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .content-section {
    grid-template-columns: 315px 1fr; /* левая колонка фикс, правая — резиновая */
    column-gap: 20px; /* расстояние между колонками */
  }

@media (width >= 1024px) {
  .content-section {
    grid-template-columns: repeat(3, 1fr); /* три одинаковые колонки */
    column-gap: 20px; /* расстояние между колонками */
    align-items: start; /* элементы прижимаются к верху своих ячеек */
  }
}
}
.content-section + .content-section {
  margin-block-start: var(--section-gap);
}

.content-section__title {
  color: var(--content-title-color);
  font-size: var(--text-size);
  line-height: var(--line-height);
  align-self: start;
}

.content-section__articles {
  display: grid;
  gap: 20px;
}

@media (width >= 1024px) {
  .content-section__articles {
    grid-column: span 2; /* блок занимает вторую и третью колонку секции */
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title,
.card__subtitle {
  font-size: var(--text-size);
  line-height: var(--line-height);
  font-weight: 700;
}

.card__title_regular {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: var(--line-height);
}

.card__text + .card__subtitle,
.card__text + .card__title,
.card__subtitle + .card__text,
.card__title + .card__text {
  margin-block-start: 0;
}

.card__link {
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  text-decoration: none;
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text-color);
  display: inline-block;
}


@media (width >= 1024px) {
  .content-section__articles_type_row {
    grid-column: 1 / -1; /* растягиваем блок от первой до последней колонки */
    grid-template-columns: repeat(3, 1fr); /* три карточки в ряд */
    column-gap: 20px; /* расстояние между карточками */
  }
}

.card_type_tips{
  gap:0;
}

.card_type_tips .card__title + .card__subtitle {
  margin-block-start: 20px; 
}

.card_type_tips .card__subtitle + .card__text {
  margin-block-start: 10px;
}

.card_type_tips .card__text + .card__subtitle {
  margin-block-start: 20px;
}

.gallery-section {
  gap: 10px;
}

.gallery {
  display: grid; 
  gap: 10px; 
}
.gallery__image {
  inline-size: 100%; 
  block-size: 100%; 
  object-fit: cover; 
  display: block; 
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; /* на широких экранах расстояние больше */
  }
}

@media (width >= 768px) {
  .gallery__image_type_sunset {
    grid-column: span 2; /* занимает две колонки */
  }

  .gallery__image_type_ice-cream {
    grid-row: span 2; /* занимает две строки */
  }

  .gallery__image_type_tape {
    grid-row: span 2; /* занимает две строки */
  }

  .gallery__image_type_street {
    grid-column: span 2; /* занимает две колонки */
  }
}

.footer {
  min-block-size: max(100vh, 668px);
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer__title {
  color: var(--title-color); 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* мобильный размер */
  line-height: 0.83; /* плотная высота строки, как в макете */
  text-shadow: 2px 2px 0 var(--accent-color); 
}

@media (width >= 768px) {
  .footer {
    padding: 20px; /* увеличиваем внутренние отступы */
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* размер для планшета и десктопа */
  }
}