:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --decor-color: #ff0070;
  --title-color: #db00ff; /* цвет большого заголовка */
  --accent-color: #ff0070; /* акцентный цвет плашек и тени */
  --decor-text-color: #000028; 
  --main-font: 'IBM Plex mono', monospace;
  --section-gap: 50px;
  --section-gap-tablet: 80px;
  --main-top-gap: 40px;
  --main-top-gap-tablet: 60px;
  --page-padding: 10px;
  --page-padding-tablet: 20px;
  --text-size: 18px;
  --line-height: 1.3;
  --content-title-color: #ff0070;
  --text-color: #f1b2ce;
  --decor-text-color: #000028;
  --link-shadow-color: #ff0070;
  --menu-button-color: var(--accent-color);
  --menu-button-hover-color: rgb(255 0 112 / 0.4);

}

